body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #f2f2f2;
    color: #333;
    margin: 15pt;
}

.container {
    display: flex;
    justify-content: space-between;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

h1, h2, h3 {
    color: #0066cc;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
    color: #990000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, td {
    border: 1px solid #ddd;
}

td {
    padding: 8px;
}

a {
    color: #009933;
    text-decoration: none;
}

a:hover {
    color: #0066cc;
    text-decoration: underline;
}

a:active {
    color: #990000;
}

a:visited {
    color: #663399;
}

.course-paragraph, .course-paragraph2, .awards-paragraph, .activities-paragraph, .small-text {
    font-size: 14pt;
}

.table-container {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
}
