body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #f2f2f2; 
    color: #333; 
    margin: 15pt;
}

.container {
    display: flex;
    justify-content: space-between;
}

.text-content {
    flex: 1;
    padding-right: 20px;
}

.links-content {
    width: 200px;
}

nav {
    background-color: #ddd; 
    padding: 10px;
}

nav b {
    font-weight: bold;
}

h1, h2, h3 {
    color: #0066cc; 
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center; 
}

h2 {
    font-size: 20pt; 
}

h3 {
    font-size: 16pt; 
    color: #990000; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, td {
    border: 1px solid #ddd;
}

td {
    padding: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

a {
    color: #009933; 
    text-decoration: none; 
}

a:hover {
    color: #0066cc; 
    text-decoration: underline; 
}

a:active {
    color: #990000; 
}

a:visited {
    color: #663399; 
}

.course-paragraph {
    font-size: 14pt; 
    color: #990000; 
}

.course-paragraph2{
    font-size: 14pt;
    color: #333;
}

.awards-paragraph {
    font-size: 14pt; 
    color: #990000; 
}

.activities-paragraph {
    font-size: 14pt; 
    color: #0066cc; 
}
