/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background: linear-gradient(to right, #16222A, #3A6073);
    color: #eee;
    margin: 15pt;
    transition: background 0.3s ease;
}

h1 {
    text-align: center;
    color: #7da1aa;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to right, #1C262B, #465362);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form section styling */
h2 {
    color: #eee;
}

/* Input styling */
input[type="text"], textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Checkbox styling */
input[type="checkbox"] {
    margin-bottom: 10px;
    width: auto;
}

/* Styled checkbox */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px; 
    cursor: pointer;
    display: inline-block;
    color: #eee;
}

input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px; 
    height: 16px;
    border: 1px solid #ccc;
    background-color: #465362; 
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

/* Checked state for the custom checkbox */
input[type="checkbox"]:checked + label:before {
    background-color: #27ae60; 
    border: 1px solid #27ae60;
}

/* Radio button and checkbox label styling */
label {
    display: block;
    margin-bottom: 5px;
}

/* Submit button styling */
input[type="submit"], input[type="reset"] {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #219653;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); 
}

button:hover {
    background-color: #2980b9;
    box-shadow: 0 0 20px rgba(52, 152, 219, 1); 
}

.accessibility-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999; 
}

.accessibility-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.accessibility-container img {
    width: 40px; 
    height: auto; 
}

.accessibility-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7); 
}

.accessibility-button:hover {
    background-color: #2980b9;
    box-shadow: 0 0 20px rgba(52, 152, 219, 1); 
}

.accessibility-button i {
    margin-left: 5px; 
}

#accessibilityButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#accessibilityButton img {
    width: 40px;
}

.accessibility-options {
    position: fixed;
    top: 50%;
    right: -200px;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
}

.accessibility-options button {
    display: block;
    margin-bottom: 10px;
}

.accessibility-options button:last-child {
    margin-bottom: 0;
}

.color-blind-mode {
    --cb-primary: #1f77b4; /* Blue */
    --cb-secondary: #ff7f0e; /* Orange */
    --cb-tertiary: #2ca02c; /* Green */
    --cb-quaternary: #d62728; /* Red */
    --cb-quinary: #9467bd; /* Purple */
    --cb-senary: #8c564b; /* Brown */
    --cb-septenary: #e377c2; /* Pink */
    --cb-octonary: #7f7f7f; /* Gray */
    --cb-nonary: #bcbd22; /* Olive */
    --cb-denary: #17becf; /* Teal */
}

/* Example usage */
.color-blind-mode h1 {
    color: var(--cb-primary);
}

.color-blind-mode a {
    color: var(--cb-secondary);
}

.color-blind-mode p {
    color: var(--cb-tertiary);
}

.color-blind-mode td{
    color: var(--cb-quaternary);
}

.color-blind-mode h2{
    color: var(--cb-quinary);
}

.color-blind-mode label{
    color: var(--cb-senary);
}
